.header-up {
  box-shadow: 0 8px 12px var(--ion-color-primary);
}

ion-title {
  --color: var(--ion-color-primary);
}

.cardd {
  --background: transparent;
}

/* --- Header Container --- */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-title {
  flex-grow: 1;
  text-align: start;
  --color: var(--ion-color-primary);
}

.edit-button {
  width: 100%;
  text-align: end;
  --border-radius: 8px; /* Bordes redondeados */
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background: var(--ion-color-primary); /* Color de fondo según el tema */
  --color: var(--ion-color-secondary); /* Color del texto */
}

/* --- Spinner Container --- */
.spinner-container {
  color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

/* --- Separator --- */
.separator {
  text-align: center;
  margin: 20px 0;
  border-top: 1px solid var(--ion-color-tertiary); /* Color del borde */
  padding-top: 10px;
}

.separator h2 {
  font-size: 1.2rem;
  color: var(--ion-color-primary); /* Color del texto */
}

.cards-list {
  background-color: transparent;
}

/* --- Party Grid --- */
.party-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 16px;
  padding: 16px;
}

.party-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  overflow: hidden;
  margin: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.party-item:hover {
  box-shadow: 0 8px 12px var(--ion-color-primary);
}

.party-item ion-card-header {
  padding: 16px;
  background-color: var(--ion-background-color, #fff);
  border-bottom: 1px solid var(--ion-color-tertiary); /* Línea sutil */
}

.party-item ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-primary); /* Color de texto según el tema */
}

.party-item .card-buttons {
  display: flex;
  margin-top: -35px;
  justify-content: flex-end;
}

.party-footer {
  display: flex;
  justify-content: space-around; /* Espaciado uniforme entre los botones */
  align-items: center; /* Alinear verticalmente los botones */
  border-top: 1px solid var(--ion-color-tertiary); /* Línea separadora opcional */
  background-color: var(--ion-background-color, #fff); /* Fondo del footer */
}

.party-footer ion-button {
  --border-radius: 8px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño del texto */
  text-transform: capitalize; /* Estilo del texto */
  display: flex; /* Asegura que icono y texto estén alineados */
  align-items: center; /* Centra el contenido del botón */
}

.update-button {
  color: #3880ff;
}

.delete-button {
  color: red;
}

.party-item ion-card-content {
  padding: 16px;
}

.party-details p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: var(--ion-color-tertiary); /* Color del texto de los detalles */
}

/* --- Profile Stats --- */
.profile-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
  color: var(--ion-color-tertiary); /* Color del texto de los detalles */
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-text-color); /* Color del texto según el tema */
  margin-bottom: 4px;
}

.stat-label {
  font-size: 0.9rem;
  color: var(--ion-color-tertiary); /* Color más tenue para la etiqueta */
}

.list-atrib {
  margin-top: -40px;
  background-color: transparent;
}

.person-att {
  --background: transparent;
  color: var(--ion-color-tertiary); /* Color del texto de los detalles */
}

/* --- Fab Button --- */
.fab-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.fab-button {
  text-align: end;
  --border-radius: 8px; /* Bordes redondeados */
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background: var(--ion-color-primary); /* Color de fondo según el tema */
  --color: var(--ion-color-secondary); /* Color del texto */
}

.fab-button ion-icon {
  font-size: 20px;
}

/* --- Media Queries --- */
@media (max-width: 768px) {
  .party-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }

  .button-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  ion-button {
    width: 100%;  /* Los botones ocuparán todo el ancho en pantallas pequeñas */
    margin-bottom: 10px;  /* Espacio entre los botones */
  }
}

@media (max-width: 480px) {
  .party-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
