<ion-header class="header-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" *ngIf="person; else loading">
  <ion-card class="cardd">
    <ion-card-header>
      <div class="header-container">
        <!-- Nombre del usuario alineado a la izquierda -->
        <ion-card-title class="name-title">{{ person.name }} {{ person.surname }}</ion-card-title>
      </div>
      <div class="profile-stats">
        <!-- Contador de publicaciones -->
        <div class="stat">
          <p class="stat-number">{{ totalParty }}</p>
          <p class="stat-label">{{ 'POSTS' | translate }}</p>
        </div>
        <!-- Contador de seguidores -->
        <div class="stat">
          <p class="stat-number">{{ 0 }}</p>
          <p class="stat-label">{{ 'FOLLOWERS' | translate }}</p>
        </div>
        <!-- Contador de seguidos -->
        <div class="stat">
          <p class="stat-number">{{ 0 }}</p>
          <p class="stat-label">{{ 'FOLLOWING' | translate }}</p>
        </div>
      </div>
    </ion-card-header>
  
    <ion-card-content class="person-att">
      <ion-list class="list-atrib">
        <!-- Usar un contenedor para alinear los elementos -->
        <ion-item class="person-att">
          <ion-label class="attribute-label"><strong>{{ 'GENDER' | translate }}:</strong> {{ person.gender }}</ion-label>
        </ion-item>
        <ion-item class="person-att">
          <ion-label class="attribute-label"><strong>{{ 'BIRTHDATE' | translate }}:</strong> {{ person.birthdate | dateFormat }}</ion-label>
        </ion-item>
      </ion-list>
      <div class="stats-container">
        <!-- Botón Editar Perfil alineado a la derecha -->
        <ion-buttons class="edit-button">
          <ion-button class="edit-button" (click)="openPersonDetail(person)">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            {{ 'EDIT_PROFILE' | translate }}
          </ion-button>
        </ion-buttons>
      </div>
    </ion-card-content>
  </ion-card>  

  <!-- Separador estilizado -->
  <div class="separator">
    <ion-text>
      <h2>{{ 'POSTS' | translate }}</h2>
    </ion-text>
  </div>

  <ion-list class="cards-list">
    <div class="party-grid">
      <ion-card *ngFor="let party of filteredParty$ | async; let i = index" class="party-item">
        <!-- Imagen de la fiesta si la hay -->
        <ion-card-header>
          <ion-card-title>
            {{ party.name }}
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <!-- Sección de detalles que se mostrará u ocultará -->
          <div class="party-details">
            <p><strong>{{ 'DATE' | translate }}:</strong> {{ party.date | dateFormat }}</p>
            <p><strong>{{ 'EVENT_LOCATION' | translate }}:</strong> {{ party.city }}, {{ party.country }}</p>
            <p><strong>{{ 'PRICE' | translate }}:</strong> {{ party.price }}</p>
            <p><strong>{{ 'MIN_AGE' | translate }}:</strong> {{ party.minAge }}</p>
            <app-map-frame
              *ngIf="party?.city && party?.country"
              [city]="party.city"
              [country]="party.country">
            </app-map-frame>
          </div>
        </ion-card-content>

        <!-- Footer con botones -->
        <div class="party-footer">
          <ion-button fill="clear" class="update-button" (click)="openUpdateParty(party, i)">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            {{ 'EDIT' | translate }}
          </ion-button>
          <ion-button fill="clear" class="delete-button" (click)="onDeleteParty(party)">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            {{ 'DELETE' | translate }}
          </ion-button>
        </div>
      </ion-card>
    </div>
  </ion-list>

  <div class="fab-button-container">
    <ion-button class="fab-button" (click)="onAddParty()">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      {{ 'CREATE_POST' | translate }}
    </ion-button>
  </div>

  <div #animatedAvatarContainer class="animated-avatar-container" [ngStyle]="{'display':isAnimating?'block':'none'}">
    <img #animatedAvatar [src]="selectedParty?.picture?.large" alt="Foto de {{ selectedParty?.name }}">
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- Plantilla de carga -->
<ng-template #loading>
  <ion-content>
    <div class="spinner-container">
      <ion-spinner></ion-spinner>
      <p>{{ 'LOADING_PROFILE' | translate }}</p>
    </div>
  </ion-content>
</ng-template>
