<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      {{ mode === 'edit' ? 'Editar Fiesta' : 'Crear Fiesta' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Información General -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información General</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <!-- Nombre -->
        <ion-item>
          <ion-input
            label="Nombre"
            label-placement="stacked"
            type="text"
            placeholder="Ej: Big Festival"
            formControlName="name"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <p *ngIf="name?.errors?.['required']">El nombre es obligatorio.</p>
          <p *ngIf="name?.errors?.['minlength']">Debe tener al menos 2 caracteres.</p>
        </ion-text>

        <!-- País -->
        <ion-item>
          <ion-select
            label="País"
            label-placement="stacked"
            formControlName="country"
            placeholder="Selecciona un país">
            <ion-select-option *ngFor="let cnt of countries" [value]="cnt">{{ cnt }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="country?.invalid && (country?.dirty || country?.touched)">
          <p *ngIf="country?.errors?.['required']">El país es obligatorio.</p>
        </ion-text>

        <!-- Ciudad -->
        <ion-item>
          <ion-input
            label="Ciudad"
            label-placement="stacked"
            type="text"
            placeholder="Ej: Barcelona"
            formControlName="city"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="city?.invalid && (city?.dirty || city?.touched)">
          <p *ngIf="city?.errors?.['required']">La ciudad es obligatoria.</p>
        </ion-text>

        <!-- Date -->
        <ion-item class="fechanac">
          <ion-label position="stacked">Fecha de celebración</ion-label>
          <ion-input
            type="date" 
            formControlName="date">
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="date?.invalid && date?.touched">
          <p *ngIf="date?.errors?.['required']">La fecha es obligatoria.</p>
          <p *ngIf="date?.errors?.['pattern']">Introduce una fecha válida.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <!-- Datos Adicionales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Adicionales</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <!-- Edad Mínima -->
        <ion-item>
          <ion-input
            label="Edad Mínima"
            label-placement="stacked"
            type="number"
            value="0"
            formControlName="minAge"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="minAge?.invalid && (minAge?.dirty || minAge?.touched)">
          <p *ngIf="minAge?.errors?.['min']">Debe ser un número mayor o igual a 0.</p>
          <p *ngIf="minAge?.errors?.['notInteger']">Debe ser un número entero.</p>
        </ion-text>

        <!-- Precio -->
        <ion-item>
          <ion-input
            label="Precio"
            label-placement="stacked"
            type="number"
            value="0"
            formControlName="price"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="price?.invalid && (price?.dirty || price?.touched)">
          <p *ngIf="price?.errors?.['min']">Debe ser un número mayor o igual a 0.</p>
        </ion-text>

        <!-- Descripción -->
        <ion-item>
          <ion-input
            label="Descripción"
            label-placement="stacked"
            type="text"
            placeholder="Ej: Fiesta temática con música electrónica"
            formControlName="description"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="description?.invalid && (description?.dirty || description?.touched)">
          <p *ngIf="description?.errors?.['required']">La descripción es obligatoria.</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <!-- Botón de envío -->
    <ion-footer>
      <ion-toolbar>
        <ion-button
          expand="block"
          color="primary"
          [disabled]="!formGroup.valid || !formGroup.dirty"
          type="submit">
          {{ mode === 'edit' ? 'Actualizar Fiesta' : 'Crear Fiesta' }}
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
