/* --- Estilo de los Inputs, Selects, Datetime --- */
ion-input {
    margin-bottom: 0.5rem;
    --padding-start: 0;
    color: var(--ion-color-tertiary);
  }
  
  /* --- Estilo de los Ítems en los Inputs --- */
  ion-item {
    --background: var(--ion-background-color, white); /* Fondo según el tema */
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 8px 12px;
    color: var(--ion-color-tertiary);
  }
  
  ion-text {
    font-size: 0.9rem;
    margin-top: -8px;
    margin-bottom: 8px;
    padding-left: 4px;
    color: var(--ion-color-tertiary);
  }
  
  /* --- Mensajes de Error --- */
  ion-text[color="danger"] p {
    color: #e53935;
    font-size: 0.85rem;
  }