<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="none" (click)="goBack()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      {{ mode === 'edit' ? ('EDIT_PERSON' | translate) : ('NEW_PERSON' | translate) }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Información Personal -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'PERSONAL_INFO' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Nombre -->
        <ion-item>
          <ion-input
            label="{{ 'NAME' | translate }}"
            label-placement="stacked"
            type="text"
            placeholder="{{ 'NAME_PLACEHOLDER' | translate }}"
            formControlName="name"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <p *ngIf="name?.errors?.['required']">{{ 'NAME_REQUIRED' | translate }}</p>
          <p *ngIf="name?.errors?.['minlength']">{{ 'NAME_MINLENGTH' | translate }}</p>
        </ion-text>

        <!-- Apellidos -->
        <ion-item>
          <ion-input
            label="{{ 'SURNAME' | translate }}"
            label-placement="stacked"
            type="text"
            placeholder="{{ 'SURNAME_PLACEHOLDER' | translate }}"
            formControlName="surname"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
          <p *ngIf="surname?.errors?.['required']">{{ 'SURNAME_REQUIRED' | translate }}</p>
          <p *ngIf="surname?.errors?.['minlength']">{{ 'SURNAME_MINLENGTH' | translate }}</p>
        </ion-text>

        <!-- Email -->
        <ion-item>
          <ion-input
            label="{{ 'EMAIL' | translate }}"
            label-placement="stacked"
            type="email"
            placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email"
            clearInput>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']">{{ 'EMAIL_REQUIRED' | translate }}</p>
          <p *ngIf="email?.errors?.['email']">{{ 'EMAIL_VALID' | translate }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <!-- Datos Adicionales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'ADDITIONAL_INFO' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Fecha de Nacimiento -->
        <ion-item class="fechanac">
          <ion-label position="stacked">{{ 'BIRTHDATE' | translate }}</ion-label>
          <ion-input
            type="date" 
            formControlName="birthdate" 
            (ionChange)="calculateAge()">
          </ion-input>
          <!-- Mostrar la edad -->
          <ion-text *ngIf="calculatedAge !== null">
            <p>{{ 'AGE' | translate }}: {{ calculatedAge }} {{ 'YEARS' | translate }}</p>
          </ion-text>
        </ion-item>
        <ion-text color="danger" *ngIf="birthdate?.invalid && birthdate?.touched">
          <p *ngIf="birthdate?.errors?.['required']">{{ 'BIRTHDATE_REQUIRED' | translate }}</p>
          <p *ngIf="birthdate?.errors?.['pattern']">{{ 'BIRTHDATE_VALID' | translate }}</p>
        </ion-text>

        <!-- Género -->
        <ion-item>
          <ion-select
            label="{{ 'GENDER' | translate }}"
            label-placement="stacked"
            formControlName="gender"
            placeholder="{{ 'SELECT_GENDER' | translate }}">
            <ion-select-option class="select-text" *ngFor="let gen of genders" [value]="gen">{{ gen }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">
          <p *ngIf="gender?.errors?.['required']">{{ 'GENDER_REQUIRED' | translate }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <!-- Botón de envío -->
    <ion-footer>
      <ion-toolbar>
        <ion-button
          expand="block"
          color="primary"
          [disabled]="!formGroup.valid || !formGroup.dirty"
          type="submit">
          {{ mode === 'edit' ? ('UPDATE' | translate) : ('REGISTER' | translate) }}
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
