<ion-app>
  <!-- Menu lateral -->
  <ion-menu contentId="main-content" swipeGesture="false">
    <ion-header>
      <ion-toolbar class="menu-header">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding menu-content">
      <ion-list class="listt">
        <!-- Enlace "Fiestas" -->
        <ion-item class="menu-item" routerLink="/home" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="balloon-outline" class="menu-icon"></ion-icon>
          <ion-label>Fiestas</ion-label>
        </ion-item>
  
        <!-- Enlace "Perfil" -->
        <ion-item class="menu-item" routerLink="/perfil" routerDirection="root" (click)="closeMenu()">
          <ion-icon slot="start" name="person-circle-outline" class="menu-icon"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
  
        <!-- Enlace "Cerrar Sesión" -->
        <ion-item class="menu-item" (click)="closeMenu()" *ngIf="(authSvc.authenticated$ | async)" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline" class="menu-icon"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>  

  <!-- Contenido principal (sin encabezado) -->
  <div class="ion-page" id="main-content">
    <!-- Aquí se cargan las diferentes rutas -->
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
