<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fiestas</ion-title>
    <ion-buttons slot="end">
      <!-- Recuento de fiestas mostradas -->
      <ion-text>
        Total: {{ totalParty }}
      </ion-text>

      <!-- Filtro por país -->
      <ion-item>
        <ion-select placeholder="Selecciona un país" (ionChange)="onCountryChange($event)">
          <ion-select-option value="all">Alrededor del mundo</ion-select-option>
          <ion-select-option *ngFor="let country of countries" [value]="country">{{ country }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="cards-list">
    <div class="party-grid">
      <ion-card *ngFor="let party of filteredParty$ | async; let i = index" class="party-item">
        <!-- Imagen de la fiesta si la hay -->
        <ion-card-header class="header-with-actions">
          <ion-card-title class="party-title">
            {{ party.name }}
          </ion-card-title>
          <!-- Botones de acción -->
          <ion-buttons class="action-buttons">
            <ion-button fill="clear" slot="end" (click)="onSaveParty(party)">
              <ion-icon name="bookmark-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" slot="end" (click)="onShareParty(party)">
              <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-header>
      
        <ion-card-content>
          <!-- Sección de detalles que se mostrará u ocultará -->
          <div class="party-details">
            <p><strong>Fecha:</strong> {{ party.date }}</p>
            <p><strong>Lugar del acontecimiento:</strong> {{ party.city }}, {{ party.country }}</p>
            <p><strong>Precio:</strong> {{ party.price }}</p>
            <p><strong>Edad mínima:</strong> {{ party.minAge }}</p>
            <!-- Agrega más detalles según sea necesario -->
          </div>
        </ion-card-content>
      </ion-card>
      
    </div>
  </ion-list>  

  <div #animatedAvatarContainer class="animated-avatar-container" [ngStyle]="{'display':isAnimating?'block':'none'}">
    <img #animatedAvatar [src]="selectedParty?.picture?.large" alt="Foto de {{ selectedParty?.name }}">
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>