<ion-header class="header-up" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HEADER_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <!-- Recuento de fiestas mostradas -->
      <ion-text class="total">
        {{ 'TOTAL' | translate }}: {{ totalParty }}
      </ion-text>
    
      <!-- Filtro por país -->
      <ion-item lines="none">
        <ion-select placeholder="{{ 'SELECT_COUNTRY' | translate }}" (ionChange)="onCountryChange($event)">
          <ion-select-option value="all">{{ 'WORLD' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let country of countries" [value]="country">{{ country }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="cards-list">
    <div class="party-grid">
      <ion-card *ngFor="let party of filteredParty$ | async; let i = index" 
      class="party-item" [appHighlightCheapParty]="party.price">
        <!-- Encabezado -->
        <ion-card-header>
          <ion-card-title class="party-title">
            {{ party.name }}
          </ion-card-title>
        </ion-card-header>
      
        <!-- Contenido principal -->
        <ion-card-content>
          <div class="party-details">
            <p><strong>{{ 'DATE' | translate }}:</strong> {{ party.date | dateFormat }}</p>
            <p>
              <strong>{{ 'EVENT_PLACE' | translate }}:</strong>
              {{ party?.city }}, {{ party?.country }}
            </p>
            <p><strong>{{ 'PRICE' | translate }}:</strong> {{ party?.price }} €</p>
            <p><strong>{{ 'MIN_AGE' | translate }}:</strong> {{ party?.minAge }} {{ 'YEARS' | translate }}</p>
            <app-map-frame
              *ngIf="party?.city && party?.country"
              [city]="party.city"
              [country]="party.country">
            </app-map-frame>
          </div>
        </ion-card-content>
      
        <!-- Footer con botones -->
        <div class="party-footer">
          <!--
          <ion-button fill="clear" color="primary" (click)="onSaveParty(party)">
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
            {{ 'SAVE' | translate }}
          </ion-button>  -->
          <ion-button fill="clear" color="primary" (click)="onShareParty(party)">
            <ion-icon name="share-social-outline" slot="start"></ion-icon>
            {{ 'SHARE' | translate }}
          </ion-button>
        </div>
      </ion-card>
    </div>
  </ion-list>  

  <div #animatedAvatarContainer class="animated-avatar-container" [ngStyle]="{'display':isAnimating?'block':'none'}">
    <img #animatedAvatar [src]="selectedParty?.picture?.large" alt="{{ 'PHOTO_ALT' | translate:{name: selectedParty?.name} }}">
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
